
*{
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: black; 
}

#bigBox{
    margin: auto;
    width: 30%;
    height: 400px;
    border: 3px solid black;
    padding: 10px;
    background-color: #0A0708;
    border-radius: 5%;
    
}
#rBox{
    margin: 0;
    width: 100%;
    border: 2px solid black;
    height: 10%;
    background-color: #444444;
    border-radius: 0%;
    color: white;
    position:relative;
}

.btn{
    /* height: 150px;
    margin: auto;
    border: 2px solid black;
    background-color:pink;
    margin-top: 50px;
    width: 70%;
    padding: 20px;
    border-radius: 5%; */
    display: flex;
    justify-content: center;
    align-items: center; 
}

button{
    padding: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    cursor: pointer;
    background-color: #b1b1b1;

}

.btnBox{
    width: 60%;
    height: 60%;
    background-color: #747474;
    margin: auto;
    margin-top: 60px;
    border: 2px solid black;
    
}
